In [2]:
# Import required libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

In [ ]:
!pip install selenium

In [6]:
# Importing selenium webdriver
from selenium import webdriver
import requests

In [7]:
# connect first with webdriver
driver = webdriver.Chrome(r"C:\Users\admin\Desktop\Python basis\chromedriver.exe")
driver

In [23]:

#Opening the url
url='https://www.olx.in/'
driver.get(url)

In [73]:
search_car = driver.find_element_by_xpath('//div[@class="zYZEU"]')
search_car

In [74]:
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used Sedan cars

In [75]:
search_car = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')  # loacting search_bar bu xpath
search_car.send_keys(user_inp)
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')
search_button.click()

In [76]:
#scrape all product in urls
urls = []
for i in range(0,1): #for loop for scrapping 1 page
    for j in driver.find_elements_by_xpath('//li[@class="EIR5N"]//a'):
        urls.append(j.get_attribute('href'))

In [77]:
urls

['https://www.olx.in/item/bmw-520d-sedan-brand-new-condition-with-new-tyre-iid-1657414060',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2012-diesel-iid-1658625607',
 'https://www.olx.in/item/bmw-7-series-730ld-sedan-2013-diesel-iid-1660264680',
 'https://www.olx.in/item/audi-a4-s-line-20-tdi-sunroof-diesel-at-top-model-luxury-sedan-iid-1659830982',
 'https://www.olx.in/item/suv-sedan-car-cout-me-lagni-hai-iid-1661963786',
 'https://www.olx.in/item/april-2019-ford-figo-aspire-diesel-sedan-good-condition-iid-1644305484',
 'https://www.olx.in/item/bmw-3-series-320i-sedan-2011-petrol-iid-1660518862',
 'https://www.olx.in/item/bmw-5-series-530d-highline-sedan-2010-diesel-iid-1661247822',
 'https://www.olx.in/item/well-maintained-tough-build-sedan-with-best-in-segment-boot-space-iid-1657100278',
 'https://www.olx.in/item/bmw-5-series-523i-sedan-2008-petrol-iid-1660786902',
 'https://www.olx.in/item/bmw-7-series-740li-sedan-2011-petrol-iid-1661214038',
 'https://www.olx.in/item/bmw-7-series-730ld-sedan-2011-diesel-iid-1661212077',
 'https://www.olx.in/item/bmw-3-series-320i-sedan-2010-petrol-iid-1651862026',
 'https://www.olx.in/item/bmw-5-series-2010-2013-520d-sedan-2012-diesel-iid-1650322121',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2010-diesel-iid-1650761834',
 'https://www.olx.in/item/bmw-5-series-2010-2013-520d-sedan-2011-diesel-iid-1661204096',
 'https://www.olx.in/item/bmw-5-series-520d-sedan-2014-diesel-iid-1614883359',
 'https://www.olx.in/item/maruti-suzuki-baleno-16-sedan-2006-petrol-good-condition-iid-1661919861',
 'https://www.olx.in/item/bmw-5-series-530d-highline-sedan-2012-diesel-iid-1661049675',
 'https://www.olx.in/item/bmw-7-series-740li-sedan-2011-petrol-iid-1652956988']

In [78]:
len(urls)

20

In [79]:
# finding required details
model_list = [] #empty list
year_km_list = [] #empty list
location_list = [] #empty list
price_list = [] #empty list

In [81]:
# extract all tags having the price_list
price_tags = driver.find_elements_by_xpath('//span[@class="_89yzn"]')

In [82]:
price_list = [] #empty list

for i in price_tags:
    price_list.append(i.text)
    
price_list

['₹ 10,99,999',
 '₹ 6,50,000',
 '₹ 24,50,000',
 '₹ 5,79,000',
 '₹ 7,00,000',
 '₹ 9,75,000',
 '₹ 6,99,999',
 '₹ 2,00,000',
 '₹ 5,50,000',
 '₹ 14,75,000',
 '₹ 14,75,000',
 '₹ 8,25,000',
 '₹ 16,00,000',
 '₹ 6,00,000',
 '₹ 13,50,000',
 '₹ 19,99,999',
 '₹ 2,75,000',
 '₹ 14,50,000',
 '₹ 16,50,000']

In [83]:
len(price_list)

19

In [84]:
#extract all tags having model_list
model_tags = driver.find_elements_by_xpath('//span[@class="_2tW1I"]')
model_list = []
for i in model_tags:
    model_list.append(i.text)
model_list

['BMW 520D SEDAN BRAND NEW CONDITION WITH NEW TYRE',
 'BMW 3 Series 320d Sedan, 2012, Diesel',
 'BMW 7 Series 730Ld Sedan, 2013, Diesel',
 'AUDI A4 S-line 2.0 TDi SUNROOF Diesel AT Top Model Luxury Sedan',
 'April 2019 Ford Figo Aspire Diesel Sedan Good Condition',
 'BMW 3 Series 320i Sedan, 2011, Petrol',
 'BMW 5 Series 530d Highline Sedan, 2010, Diesel',
 'Well Maintained Tough Build Sedan, with best in segment boot space.',
 'BMW 5 Series 523i Sedan, 2008, Petrol',
 'BMW 7 Series 740Li Sedan, 2011, Petrol',
 'BMW 7 Series 730Ld Sedan, 2011, Diesel',
 'BMW 3 Series 320i Sedan, 2010, Petrol',
 'BMW 5 Series 2010-2013 520d Sedan, 2012, Diesel',
 'BMW 3 Series 320d Sedan, 2010, Diesel',
 'BMW 5 Series 2010-2013 520d Sedan, 2011, Diesel',
 'BMW 5 Series 520d Sedan, 2014, Diesel',
 'Maruti Suzuki Baleno 1.6 sedan 2006 Petrol Good Condition',
 'BMW 5 Series 530d Highline Sedan, 2012, Diesel',
 'BMW 7 Series 740Li Sedan, 2011, Petrol']

In [85]:
len(model_list)

19

In [154]:
#extract all data in tags haing location_list
location_tags = driver.find_elements_by_xpath('//span[@class="tjgMj"]')
location_list = []
for i in location_tags:
    location_list.append(i.text)
location_list

['KATTOOR, COIMBATORE',
 'NARAINA, DELHI',
 'MAHADEV VIHAR, DEHRADUN',
 'VAISHALI NAGAR, AJMER',
 'CHAUDHARI TOLA, LUCKNOW',
 'BAKKANNAPALEM, MADHURAWADA',
 'POWAI, MUMBAI',
 'INDUSTRIAL AREA, CHANDIGARH',
 'RAJ NAGAR EXTENSION, GHAZIABAD',
 'RAJOURI GARDEN, DELHI',
 'GREATER KAILASH, DELHI',
 'DHAULA KUAN, DELHI',
 'KHARGHAR, NAVI MUMBAI',
 'VIJAY NAGAR, INDORE',
 'PARKESH NAGAR, LUDHIANA',
 'ADAJAN, SURAT',
 'JANGPURA, DELHI',
 'NAGAMPADAM, KOTTAYAM',
 'SAROJINI NAGAR, DELHI',
 'JANTA NAGAR, LUDHIANA']

In [155]:
len(location_list)

20

In [131]:
#extract all data in tags having year_km_list
km_tags = driver.find_elements_by_xpath('//span[@class="_2TVI3"]')
year_km_list = []
for i in km_tags:
    year_km_list.append(i.text)
year_km_list

['2012 - 35000.0 km',
 '2016 - 26,000 km',
 '2010 - 69,000 km',
 '2010 - 97,000 km',
 '2019 - 55,000 km',
 '2011 - 9,500 km',
 '2010 - 80,000 km',
 '2012 - 114,000 km',
 '2008 - 52,000 km',
 '2011 - 60,000 km',
 '2011 - 70,000 km',
 '2010 - 50,000 km',
 '2012 - 90,000 km',
 '2010 - 90,000 km',
 '2011 - 88,000 km',
 '2014 - 75,382 km',
 '2006 - 71,000 km',
 '2012 - 75,000 km',
 '2011 - 75,000 km']

In [133]:
len(year_km_list)

19

In [156]:
# Make data frame
used_cars = pd.DataFrame({})
used_cars['model_list']=model_list
used_cars['year_km_list']=year_km_list
used_cars['location_list']=location_list[0:19]
used_cars['price_list']=price_list
used_cars

,model_list,year_km_list,location_list,price_list
0,BMW 520D SEDAN BRAND NEW CONDITION WITH NEW TYRE,2012 - 35000.0 km,"KATTOOR, COIMBATORE","₹ 10,99,999"
1,"BMW 3 Series 320d Sedan, 2012, Diesel","2016 - 26,000 km","NARAINA, DELHI","₹ 6,50,000"
2,"BMW 7 Series 730Ld Sedan, 2013, Diesel","2010 - 69,000 km","MAHADEV VIHAR, DEHRADUN","₹ 24,50,000"
3,AUDI A4 S-line 2.0 TDi SUNROOF Diesel AT Top M...,"2010 - 97,000 km","VAISHALI NAGAR, AJMER","₹ 5,79,000"
4,April 2019 Ford Figo Aspire Diesel Sedan Good ...,"2019 - 55,000 km","CHAUDHARI TOLA, LUCKNOW","₹ 7,00,000"
5,"BMW 3 Series 320i Sedan, 2011, Petrol","2011 - 9,500 km","BAKKANNAPALEM, MADHURAWADA","₹ 9,75,000"
6,"BMW 5 Series 530d Highline Sedan, 2010, Diesel","2010 - 80,000 km","POWAI, MUMBAI","₹ 6,99,999"
7,"Well Maintained Tough Build Sedan, with best i...","2012 - 114,000 km","INDUSTRIAL AREA, CHANDIGARH","₹ 2,00,000"
8,"BMW 5 Series 523i Sedan, 2008, Petrol","2008 - 52,000 km","RAJ NAGAR EXTENSION, GHAZIABAD","₹ 5,50,000"
9,"BMW 7 Series 740Li Sedan, 2011, Petrol","2011 - 60,000 km","RAJOURI GARDEN, DELHI","₹ 14,75,000"
10,"BMW 7 Series 730Ld Sedan, 2011, Diesel","2011 - 70,000 km","GREATER KAILASH, DELHI","₹ 14,75,000"
11,"BMW 3 Series 320i Sedan, 2010, Petrol","2010 - 50,000 km","DHAULA KUAN, DELHI","₹ 8,25,000"
12,"BMW 5 Series 2010-2013 520d Sedan, 2012, Diesel","2012 - 90,000 km","KHARGHAR, NAVI MUMBAI","₹ 16,00,000"
13,"BMW 3 Series 320d Sedan, 2010, Diesel","2010 - 90,000 km","VIJAY NAGAR, INDORE","₹ 6,00,000"
14,"BMW 5 Series 2010-2013 520d Sedan, 2011, Diesel","2011 - 88,000 km","PARKESH NAGAR, LUDHIANA","₹ 13,50,000"
15,"BMW 5 Series 520d Sedan, 2014, Diesel","2014 - 75,382 km","ADAJAN, SURAT","₹ 19,99,999"
16,Maruti Suzuki Baleno 1.6 sedan 2006 Petrol Goo...,"2006 - 71,000 km","JANGPURA, DELHI","₹ 2,75,000"
17,"BMW 5 Series 530d Highline Sedan, 2012, Diesel","2012 - 75,000 km","NAGAMPADAM, KOTTAYAM","₹ 14,50,000"
18,"BMW 7 Series 740Li Sedan, 2011, Petrol","2011 - 75,000 km","SAROJINI NAGAR, DELHI","₹ 16,50,000"

In [251]:
# connect first with webdriver
driver = webdriver.Chrome(r"C:\Users\admin\Desktop\Python basis\chromedriver.exe")
driver

In [252]:
#Opening the url
url='https://www.olx.in/'
driver.get(url)


# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used SUV car

In [253]:
search_bar = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')    # Locating search_bar by xpath
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')       # Locating search_button by xpath
search_button.click()

In [ ]:
# scrape all product urls
urls=[]
for i in range(0,1):#for loop for scrapping 1 page
    for j in driver.find_elements_by_xpath('//li[@class="EIR5N"]//a'):
        urls.append(j.get_attribute('href'))

In [292]:
urls

['https://www.olx.in/item/toyota-fortuner-2012-diesel-well-maintained-suv-car-like-2016-model-iid-1660744575',
 'https://www.olx.in/item/hummer-h2-suv-2008-petrol-iid-1660319782',
 'https://www.olx.in/item/alloy-wheels-for-all-cars-suv-price-starting-from-21000-4-iid-1524613407',
 'https://www.olx.in/item/honda-city-2011-cng-hybrids-iid-1659625682',
 'https://www.olx.in/item/lexus-lx-470-suv-2001-diesel-iid-1658344754',
 'https://www.olx.in/item/chevrolet-captiva-2011-diesel-well-maintained-real-suv-7-seater-iid-1662036678',
 'https://www.olx.in/item/force-one-suv-diesel-iid-1657845240',
 'https://www.olx.in/item/best-condition-brezza-2017-top-model-1st-owner-diesel-suv-iid-1661977339',
 'https://www.olx.in/item/i-want-to-buy-suv-model-iid-1661971553',
 'https://www.olx.in/item/suv-sedan-car-cout-me-lagni-hai-iid-1661963786',
 'https://www.olx.in/item/car-or-suv-driver-iid-1661949202',
 'https://www.olx.in/item/hummer-h3-suv-2007-petrol-iid-1637745211',
 'https://www.olx.in/item/suv-rent-car-booking-for-city-and-out-station-iid-1661924729',
 'https://www.olx.in/item/best-diesel-suv-2017-xuv500-manual-sunroof-1stownr-less-run-newlike-iid-1661908299',
 'https://www.olx.in/item/best-suv-2018-diesel-manual-toyota-innova-crysta-vx-8-str-56456-kms-iid-1661904025',
 'https://www.olx.in/item/mahendra-suv-500-iid-1661901877',
 'https://www.olx.in/item/it-is-a-suv-very-well-maintained-cwr-iid-1661799509',
 'https://www.olx.in/item/car-fender-mirror-for-suv-iid-1658060474',
 'https://www.olx.in/item/kuv-100-top-end-diesel-mini-suv-25kms-mileage-iid-1661764920',
 'https://www.olx.in/item/tata-nexon-xz-petrol-2019-suv-iid-1657615481']

In [293]:
len(url)

19

In [257]:
# finding required details
model_list = [] #empty list
year_km_list = [] #empty list
location_list = [] #empty list
price_list = [] #empty list

In [258]:
# extract all tags having the price_list
price_tags = driver.find_elements_by_xpath('//div[@class="_89yzn"]')

for i in price_tags:
    price_list.append(i.text)
price_list

['₹ 13,00,000',
 '₹ 70,00,000',
 '₹ 21,000',
 '₹ 3,50,000',
 '₹ 25,00,000',
 '₹ 4,30,000',
 '₹ 3,75,000',
 '₹ 8,00,000',
 '₹ 1,30,000',
 '₹ 75,00,000',
 '₹ 10,59,000',
 '₹ 16,59,000',
 '₹ 7,50,000',
 '₹ 4,50,000',
 '₹ 999',
 '₹ 5,20,000',
 '₹ 6,99,999']

In [285]:
len(price_list[0:15])

15

In [260]:
#extract all tags having model_list
model_tags = driver.find_elements_by_xpath('//span[@class="_2tW1I"]')

for i in model_tags:
    model_list.append(i.text)
model_list

['Toyota Fortuner 2012 Diesel Well Maintained Suv car like 2016 model',
 'Hummer H2 SUV, 2008, Petrol',
 'ALLOY WHEELS FOR ALL CARS & SUV ,PRICE STARTING FROM 21000 /4',
 'Honda City 2011 CNG & Hybrids',
 'Lexus LX 470 SUV, 2001, Diesel',
 'Chevrolet Captiva 2011 Diesel Well Maintained REAL SUV ,7 seater',
 'Force One Suv diesel',
 'Best condition brezza 2017 top + model 1st owner diesel SUV',
 'I want to buy SUV model',
 'Hummer H3 SUV, 2007, Petrol',
 'Best DIESEL SUV ! 2017 XUV500 MANUAL SUNROOF 1stOwnr Less Run NEWLIKE',
 'BeST SUV ! 2018 DIESEL Manual TOYOTA INNOVA CRYSTA VX 8 Str 56456 kms',
 'Mahendra suv 500',
 'It is a SUV very well maintained cwr',
 'Car fender mirror for SUV',
 'KUV 100 Top end diesel mini suv 25kms mileage',
 'Tata Nexon XZ+ Petrol 2019 SUV']

In [284]:
len(model_list[0:15])

15

In [273]:
#extracting all tag haing location_list
location_tags = driver.find_elements_by_xpath('//span[@class="tjgMj"]')
for i in location_tags:
    location_list.append(i.text)
location_list

['RAI KA BAGH, JODHPUR',
 'VETTU ROAD, THIRUVANANTHAPURAM',
 'CHERANALLOR, KOCHI',
 'SOVI GREEN PARK COLONY, RUDRAPUR',
 'KANDIVALI WEST, MUMBAI',
 'BK KAUL NAGAR, AJMER',
 'PATTOM, THIRUVANANTHAPURAM',
 'BALCO NAGAR, KORBA',
 'BAHARAMPORE, WEST BENGAL',
 'CHAUDHARI TOLA, LUCKNOW',
 'GOPALPATTI, PUNE',
 'MADHAPUR, HYDERABAD',
 'GOMTI NAGAR, LUCKNOW',
 'BANDRA WEST, MUMBAI',
 'BANDRA WEST, MUMBAI',
 'KULKOD, HONAVAR',
 'NEW GARDEN COLONY, AMRITSAR',
 'APMC AREA, BENGALURU',
 'THERGAON, PUNE',
 'RAJARHAT, KOLKATA']

In [283]:
len(location_list[0:15])

15

In [280]:
#extarct all tags having year_km_list
km_tags = driver.find_elements_by_xpath('//span[@class="_2TVI3"]')

for i in km_tags:
    year_km_list.append(i.text)
year_km_list

['2012 - 185,000 km',
 '2008 - 40,000 km',
 '2011 - 90,000 km',
 '2001 - 151,000 km',
 '2011 - 115,000 km',
 '2012 - 75,215 km',
 '2017 - 78,000 km',
 '2005 - 28,281 km',
 '2007 - 58,000 km',
 '2017 - 66,456 km',
 '2018 - 56,346 km',
 '2015 - 150,000 km',
 '2013 - 72,000 km',
 '2016 - 42,000 km',
 '2019 - 55,000 km',
 '2012 - 185,000 km',
 '2008 - 40,000 km',
 'ALLOY WHEELS FOR ALL CARS & SUV ,PRICE STARTING FROM 21000 /4',
 '2011 - 90,000 km',
 '2001 - 151,000 km',
 '2011 - 115,000 km',
 '2012 - 75,215 km',
 '2017 - 78,000 km',
 '2005 - 28,281 km',
 '2007 - 58,000 km',
 '2017 - 66,456 km',
 '2018 - 56,346 km',
 '2015 - 150,000 km',
 '2013 - 72,000 km',
 'Car fender mirror for SUV',
 '2016 - 42,000 km',
 '2019 - 55,000 km',
 '2012 - 185,000 km',
 '2008 - 40,000 km',
 '2011 - 90,000 km',
 '2001 - 151,000 km',
 '2011 - 115,000 km',
 '2012 - 75,215 km',
 '2017 - 78,000 km',
 '2005 - 28,281 km',
 '2007 - 58,000 km',
 '2017 - 66,456 km',
 '2018 - 56,346 km',
 '2015 - 150,000 km',
 '2013 - 72,000 km',
 '2016 - 42,000 km',
 '2019 - 55,000 km',
 '2012 - 185,000 km',
 '2008 - 40,000 km',
 '2011 - 90,000 km',
 '2001 - 151,000 km',
 '2011 - 115,000 km',
 '2012 - 75,215 km',
 '2017 - 78,000 km',
 '2005 - 28,281 km',
 '2007 - 58,000 km',
 '2017 - 66,456 km',
 '2018 - 56,346 km',
 '2015 - 150,000 km',
 '2013 - 72,000 km',
 '2016 - 42,000 km',
 '2019 - 55,000 km',
 '2012 - 185,000 km',
 '2008 - 40,000 km',
 '2011 - 90,000 km',
 '2001 - 151,000 km',
 '2011 - 115,000 km',
 '2012 - 75,215 km',
 '2017 - 78,000 km',
 '2005 - 28,281 km',
 '2007 - 58,000 km',
 '2017 - 66,456 km',
 '2018 - 56,346 km',
 '2015 - 150,000 km',
 '2013 - 72,000 km',
 '2016 - 42,000 km',
 '2019 - 55,000 km']

In [282]:
len(year_km_list[0:15])

15

In [287]:
#Make dataframe
# Make data frame
used_cars = pd.DataFrame({})
used_cars['model_list']=model_list[0:15]
used_cars['year_km_list']=year_km_list[0:15]
used_cars['location_list']=location_list[0:19][0:15]
used_cars['price_list']=price_list[0:15]
used_cars

,model_list,year_km_list,location_list,price_list
0,Toyota Fortuner 2012 Diesel Well Maintained Su...,"2012 - 185,000 km","RAI KA BAGH, JODHPUR","₹ 13,00,000"
1,"Hummer H2 SUV, 2008, Petrol","2008 - 40,000 km","VETTU ROAD, THIRUVANANTHAPURAM","₹ 70,00,000"
2,"ALLOY WHEELS FOR ALL CARS & SUV ,PRICE STARTIN...","2011 - 90,000 km","CHERANALLOR, KOCHI","₹ 21,000"
3,Honda City 2011 CNG & Hybrids,"2001 - 151,000 km","SOVI GREEN PARK COLONY, RUDRAPUR","₹ 3,50,000"
4,"Lexus LX 470 SUV, 2001, Diesel","2011 - 115,000 km","KANDIVALI WEST, MUMBAI","₹ 25,00,000"
5,Chevrolet Captiva 2011 Diesel Well Maintained ...,"2012 - 75,215 km","BK KAUL NAGAR, AJMER","₹ 4,30,000"
6,Force One Suv diesel,"2017 - 78,000 km","PATTOM, THIRUVANANTHAPURAM","₹ 3,75,000"
7,Best condition brezza 2017 top + model 1st own...,"2005 - 28,281 km","BALCO NAGAR, KORBA","₹ 8,00,000"
8,I want to buy SUV model,"2007 - 58,000 km","BAHARAMPORE, WEST BENGAL","₹ 1,30,000"
9,"Hummer H3 SUV, 2007, Petrol","2017 - 66,456 km","CHAUDHARI TOLA, LUCKNOW","₹ 75,00,000"
10,Best DIESEL SUV ! 2017 XUV500 MANUAL SUNROOF 1...,"2018 - 56,346 km","GOPALPATTI, PUNE","₹ 10,59,000"
11,BeST SUV ! 2018 DIESEL Manual TOYOTA INNOVA CR...,"2015 - 150,000 km","MADHAPUR, HYDERABAD","₹ 16,59,000"
12,Mahendra suv 500,"2013 - 72,000 km","GOMTI NAGAR, LUCKNOW","₹ 7,50,000"
13,It is a SUV very well maintained cwr,"2016 - 42,000 km","BANDRA WEST, MUMBAI","₹ 4,50,000"
14,Car fender mirror for SUV,"2019 - 55,000 km","BANDRA WEST, MUMBAI",₹ 999

In [309]:
#Opening the url
driver = webdriver.Chrome(r"C:\Users\admin\Desktop\Python basis\chromedriver.exe")
url='https://www.olx.in/'
driver.get(url)

time.sleep(2)
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used minivan cars

In [310]:
search_bar = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')    # Locating search_bar by xpath
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')       # Locating search_button by xpath
search_button.click()

In [311]:
# scrape all product urls
urls=[]
for i in range(0,1):#for loop for scrapping 1 page
    for j in driver.find_elements_by_xpath('//li[@class="EIR5N"]//a'):
        urls.append(j.get_attribute('href'))

In [312]:
urls

['https://www.olx.in/item/minivan-auto-taxi--iid-1660234768',
 'https://www.olx.in/item/maximo-minivan-iid-1659473126',
 'https://www.olx.in/item/tata-ace-minivan-iid-1658656847',
 'https://www.olx.in/item/mahindra-jeeto-minivan-iid-1658389022',
 'https://www.olx.in/item/mahindra-supro-minivan-iid-1658117005',
 'https://www.olx.in/item/maximo-minivan-vx-all-ok-good--iid-1657893687',
 'https://www.olx.in/item/mahindra-maxximo-minivan-iid-1633505649']

In [313]:
len(urls)

7

In [314]:
# finding required details
model_list = [] #empty list
year_km_list = [] #empty list
location_list = [] #empty list
price_list = [] #empty list

In [316]:
# extract all tags having the price_list
price_tags = driver.find_elements_by_xpath('//span[@class="_89yzn"]')

for i in price_tags:
    price_list.append(i.text)
price_list

['₹ 2,40,000',
 '₹ 1,50,000',
 '₹ 1,20,000',
 '₹ 2,95,000',
 '₹ 2,80,000',
 '₹ 2,95,000',
 '₹ 2,50,000']

In [317]:
len(price_list)

7

In [318]:
#extract all tags having model_list
model_tags = driver.find_elements_by_xpath('//span[@class="_2tW1I"]')

for i in model_tags:
    model_list.append(i.text)
model_list

['Minivan (auto taxi )',
 'Maximo minivan',
 'TATA ACE MINIVAN',
 'Mahindra jeeto Minivan',
 'Mahindra supro minivan',
 'మహీంద్రా maximo minivan vx. All పెపర్స్ ok. Good కాండిషన్',
 'Mahindra maxximo minivan']

In [319]:
len(model_list)

7

In [320]:
#extracting all tag haing location_list
location_tags = driver.find_elements_by_xpath('//span[@class="tjgMj"]')
for i in location_tags:
    location_list.append(i.text)
location_list

['THILANNUR, KANNUR',
 'NIMKHEDI, MALKAPUR BULDANA DISTRICT',
 'JRS COLONY, RAYADURG',
 'PERAMBA, PAYYANNUR',
 'DALMIA NAGAR INDUSTRIAL AREA, DEHRI',
 'ALKA PURI COLONY, KARIMNAGAR',
 'PUDUPALLI THERUVU, PALAKKAD']

In [321]:
len(location_list)

7

In [322]:
#extarct all tags having year_km_list
km_tags = driver.find_elements_by_xpath('//span[@class="_2TVI3"]')

for i in km_tags:
    year_km_list.append(i.text)
year_km_list

['2018 - 66,560 km',
 '2012 - 20 km',
 '2012 - 130,000 km',
 '2018 - 70,000 km',
 '2019 - 82,213 km',
 '2011 - 10,000 km',
 '2014 - 57,000 km']

In [323]:
len(year_km_list)

7

In [324]:
#Make dataframe
# Make data frame
used_cars = pd.DataFrame({})
used_cars['model_list']=model_list
used_cars['year_km_list']=year_km_list
used_cars['location_list']=location_list
used_cars['price_list']=price_list
used_cars

,model_list,year_km_list,location_list,price_list
0,Minivan (auto taxi ),"2018 - 66,560 km","THILANNUR, KANNUR","₹ 2,40,000"
1,Maximo minivan,2012 - 20 km,"NIMKHEDI, MALKAPUR BULDANA DISTRICT","₹ 1,50,000"
2,TATA ACE MINIVAN,"2012 - 130,000 km","JRS COLONY, RAYADURG","₹ 1,20,000"
3,Mahindra jeeto Minivan,"2018 - 70,000 km","PERAMBA, PAYYANNUR","₹ 2,95,000"
4,Mahindra supro minivan,"2019 - 82,213 km","DALMIA NAGAR INDUSTRIAL AREA, DEHRI","₹ 2,80,000"
5,మహీంద్రా maximo minivan vx. All పెపర్స్ ok. Go...,"2011 - 10,000 km","ALKA PURI COLONY, KARIMNAGAR","₹ 2,95,000"
6,Mahindra maxximo minivan,"2014 - 57,000 km","PUDUPALLI THERUVU, PALAKKAD","₹ 2,50,000"

In [325]:
#Opening the url
driver = webdriver.Chrome(r"C:\Users\admin\Desktop\Python basis\chromedriver.exe")
url='https://www.olx.in/'
driver.get(url)

time.sleep(2)
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : used coupe cars

In [326]:
search_bar = driver.find_element_by_xpath('//div[@class="zYZEU"]//input')    # Locating search_bar by xpath
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="_3b3oR"]')       # Locating search_button by xpath
search_button.click()

In [327]:
# scrape all product urls
urls=[]
for i in range(0,1):#for loop for scrapping 1 page
    for j in driver.find_elements_by_xpath('//li[@class="EIR5N"]//a'):
        urls.append(j.get_attribute('href'))

In [328]:
urls

['https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2013-diesel-iid-1653906605',
 'https://www.olx.in/item/porsche-cayenne-coupe-others-2014-diesel-iid-1661726386',
 'https://www.olx.in/item/mercedes-benz-gle-coupe-43-amg-coupe-2021-petrol-iid-1659451819',
 'https://www.olx.in/item/mercedes-benz-gle-coupe-43-4matic-2018-petrol-iid-1596648796',
 'https://www.olx.in/item/bmw-4-series-m4-coupe-2011-diesel-iid-1648274852',
 'https://www.olx.in/item/bmw-640d-gran-coupe-201213-iid-1658922992',
 'https://www.olx.in/item/bmw-6-series-2008-2011-650i-coupe-2008-petrol-iid-1661264520',
 'https://www.olx.in/item/audi-r8-42-v8-coupe-2012-petrol-iid-1602472044',
 'https://www.olx.in/item/audi-r8-42-v8-coupe-2009-petrol-iid-1588199700',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2012-diesel-iid-1626744103',
 'https://www.olx.in/item/bmw-m4-coupe-2016-iid-1661937970',
 'https://www.olx.in/item/bmw-6-series-640d-gran-coupe-2013-diesel-iid-1661364703',
 'https://www.olx.in/item/mercedes-benz-s-coupe-s-63-amg-coupe-2016-petrol-iid-1661893001',
 'https://www.olx.in/item/bmw-6-series-2008-2011-650i-coupe-2008-petrol-iid-1658159977',
 'https://www.olx.in/item/audi-rs5-coupe-2017-petrol-iid-1638396399',
 'https://www.olx.in/item/audi-tt-32-coupe-quattro-2010-petrol-iid-1661117654',
 'https://www.olx.in/item/audi-tt-32-coupe-quattro-2010-petrol-iid-1661117028',
 'https://www.olx.in/item/audi-tt-32-coupe-quattro-2010-petrol-iid-1661117434',
 'https://www.olx.in/item/bmw-6-series-2011-2014-640d-coupe-2012-diesel-iid-1660714423',
 'https://www.olx.in/item/mercedes-benz-gle-coupe-43-amg-coupe-2016-petrol-iid-1659244849']

In [329]:
len(urls)

20

In [330]:
# finding required details
model_list = [] #empty list
year_km_list = [] #empty list
location_list = [] #empty list
price_list = [] #empty list

In [331]:
# extract all tags having the price_list
price_tags = driver.find_elements_by_xpath('//span[@class="_89yzn"]')

for i in price_tags:
    price_list.append(i.text)
price_list

['₹ 35,00,000',
 '₹ 42,75,000',
 '₹ 83,00,000',
 '₹ 85,00,000',
 '₹ 4,75,000',
 '₹ 30,50,000',
 '₹ 22,00,000',
 '₹ 65,00,000',
 '₹ 44,99,999',
 '₹ 32,50,000',
 '₹ 60,00,000',
 '₹ 27,99,999',
 '₹ 1,60,00,000',
 '₹ 16,00,000',
 '₹ 91,00,000',
 '₹ 22,50,000',
 '₹ 22,50,000',
 '₹ 22,50,000',
 '₹ 32,90,000',
 '₹ 59,75,000']

In [332]:
len(price_list)

20

In [333]:
#extract all tags having model_list
model_tags = driver.find_elements_by_xpath('//span[@class="_2tW1I"]')

for i in model_tags:
    model_list.append(i.text)
model_list

['BMW 6 Series 640d Gran Coupe, 2013, Diesel',
 'Porsche Cayenne Coupe Others, 2014, Diesel',
 'Mercedes-Benz GLE COUPE 43 AMG Coupe, 2021, Petrol',
 'Mercedes-Benz GLE COUPE 43 4MATIC, 2018, Petrol',
 'BMW 4 Series M4 Coupe, 2011, Diesel',
 'BMW 640d Gran coupe 2012/13',
 'BMW 6 Series 2008-2011 650i Coupe, 2008, Petrol',
 'Audi R8 4.2 V8 Coupe, 2012, Petrol',
 'Audi R8 4.2 V8 Coupe, 2009, Petrol',
 'BMW 6 Series 640d Gran Coupe, 2012, Diesel',
 'BMW M4 Coupe 2016',
 'BMW 6 Series 640d Gran Coupe, 2013, Diesel',
 'Mercedes-Benz S-Coupe S 63 AMG Coupe, 2016, Petrol',
 'BMW 6 Series 2008-2011 650i Coupe, 2008, Petrol',
 'Audi RS5 Coupe, 2017, Petrol',
 'Audi TT 3.2 Coupe quattro, 2010, Petrol',
 'Audi TT 3.2 Coupe quattro, 2010, Petrol',
 'Audi TT 3.2 Coupe quattro, 2010, Petrol',
 'BMW 6 Series 2011-2014 640d Coupe, 2012, Diesel',
 'Mercedes-Benz GLE COUPE 43 AMG Coupe, 2016, Petrol']

In [334]:
len(model_list)

20

In [335]:
#extracting all tag haing location_list
location_tags = driver.find_elements_by_xpath('//span[@class="tjgMj"]')
for i in location_tags:
    location_list.append(i.text)
location_list

['PRAHLAD NAGAR, AHMEDABAD',
 'HEBBAL, BENGALURU',
 'CONNAUGHT PLACE, DELHI',
 'PALARIVATTOM, KOCHI',
 'ALLAHABAD NEW CANTONMENT RESIDENTIAL AREA, ALLAHABAD',
 'T NAGAR, CHENNAI',
 'MANGALURU, KARNATAKA',
 'BANDRA WEST, MUMBAI',
 'BANDRA WEST, MUMBAI',
 'KIRTI NAGAR, DELHI',
 'ALTHAN, SURAT',
 'VIRAR WEST, MUMBAI',
 'NARAINA, DELHI',
 'VASANT KUNJ, DELHI',
 'INDUSTRIAL AREA, CHANDIGARH',
 'VARACHA, SURAT',
 'KARELIBAUGH, VADODARA',
 'SG HIGHWAY, AHMEDABAD',
 'VASANT KUNJ, DELHI',
 'VASANT KUNJ, DELHI']

In [336]:
len(location_list)

20

In [337]:
#extarct all tags having year_km_list
km_tags = driver.find_elements_by_xpath('//span[@class="_2TVI3"]')

for i in km_tags:
    year_km_list.append(i.text)
year_km_list

['2013 - 19,000 km',
 '2014 - 55,000 km',
 '2021 - 7,000 km',
 '2018 - 23,000 km',
 '2011 - 88,566 km',
 '2013 - 35,000 km',
 '2008 - 65,000 km',
 '2012 - 13,000 km',
 '2009 - 20,000 km',
 '2012 - 60,000 km',
 '2016 - 20,000 km',
 '2013 - 34,000 km',
 '2016 - 27,000 km',
 '2008 - 37,000 km',
 '2017 - 5,034 km',
 '2010 - 23,000 km',
 '2010 - 23,000 km',
 '2010 - 23,000 km',
 '2012 - 50,000 km',
 '2016 - 40,700 km']

In [338]:
len(year_km_list)

20

In [339]:
#Make dataframe
# Make data frame
used_cars = pd.DataFrame({})
used_cars['model_list']=model_list
used_cars['year_km_list']=year_km_list
used_cars['location_list']=location_list
used_cars['price_list']=price_list
used_cars

,model_list,year_km_list,location_list,price_list
0,"BMW 6 Series 640d Gran Coupe, 2013, Diesel","2013 - 19,000 km","PRAHLAD NAGAR, AHMEDABAD","₹ 35,00,000"
1,"Porsche Cayenne Coupe Others, 2014, Diesel","2014 - 55,000 km","HEBBAL, BENGALURU","₹ 42,75,000"
2,"Mercedes-Benz GLE COUPE 43 AMG Coupe, 2021, Pe...","2021 - 7,000 km","CONNAUGHT PLACE, DELHI","₹ 83,00,000"
3,"Mercedes-Benz GLE COUPE 43 4MATIC, 2018, Petrol","2018 - 23,000 km","PALARIVATTOM, KOCHI","₹ 85,00,000"
4,"BMW 4 Series M4 Coupe, 2011, Diesel","2011 - 88,566 km","ALLAHABAD NEW CANTONMENT RESIDENTIAL AREA, ALL...","₹ 4,75,000"
5,BMW 640d Gran coupe 2012/13,"2013 - 35,000 km","T NAGAR, CHENNAI","₹ 30,50,000"
6,"BMW 6 Series 2008-2011 650i Coupe, 2008, Petrol","2008 - 65,000 km","MANGALURU, KARNATAKA","₹ 22,00,000"
7,"Audi R8 4.2 V8 Coupe, 2012, Petrol","2012 - 13,000 km","BANDRA WEST, MUMBAI","₹ 65,00,000"
8,"Audi R8 4.2 V8 Coupe, 2009, Petrol","2009 - 20,000 km","BANDRA WEST, MUMBAI","₹ 44,99,999"
9,"BMW 6 Series 640d Gran Coupe, 2012, Diesel","2012 - 60,000 km","KIRTI NAGAR, DELHI","₹ 32,50,000"
10,BMW M4 Coupe 2016,"2016 - 20,000 km","ALTHAN, SURAT","₹ 60,00,000"
11,"BMW 6 Series 640d Gran Coupe, 2013, Diesel","2013 - 34,000 km","VIRAR WEST, MUMBAI","₹ 27,99,999"
12,"Mercedes-Benz S-Coupe S 63 AMG Coupe, 2016, Pe...","2016 - 27,000 km","NARAINA, DELHI","₹ 1,60,00,000"
13,"BMW 6 Series 2008-2011 650i Coupe, 2008, Petrol","2008 - 37,000 km","VASANT KUNJ, DELHI","₹ 16,00,000"
14,"Audi RS5 Coupe, 2017, Petrol","2017 - 5,034 km","INDUSTRIAL AREA, CHANDIGARH","₹ 91,00,000"
15,"Audi TT 3.2 Coupe quattro, 2010, Petrol","2010 - 23,000 km","VARACHA, SURAT","₹ 22,50,000"
16,"Audi TT 3.2 Coupe quattro, 2010, Petrol","2010 - 23,000 km","KARELIBAUGH, VADODARA","₹ 22,50,000"
17,"Audi TT 3.2 Coupe quattro, 2010, Petrol","2010 - 23,000 km","SG HIGHWAY, AHMEDABAD","₹ 22,50,000"
18,"BMW 6 Series 2011-2014 640d Coupe, 2012, Diesel","2012 - 50,000 km","VASANT KUNJ, DELHI","₹ 32,90,000"
19,"Mercedes-Benz GLE COUPE 43 AMG Coupe, 2016, Pe...","2016 - 40,700 km","VASANT KUNJ, DELHI","₹ 59,75,000"

In [8]:
# connect first with webdriver
driver = webdriver.Chrome(r"C:\Users\admin\Desktop\Python basis\chromedriver.exe")
driver

In [9]:
#Opening the url
url='https://www.cars24.com/'
driver.get(url)

#time.sleep(2)
# Asking the user to input the keywords he/she wants to search
#user_inp = input('Enter the product you want to search : ')

In [22]:
search_bar = driver.find_element_by_xpath('//ul[@class="float-right _1yq3e"]/li[3]/a').click()      # Locating search_bar by xpath
#search_bar.clear()                                               # clearing search_bar
#search_bar.send_keys(user_inp)                                   # sending user input to search bar
#search_button = driver.find_element_by_xpath('//button[@class="searchbtn"]')       # Locating search_button by xpath
#search_button.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//ul[@class="float-right _1yq3e"]/li[3]/a"}
  (Session info: chrome=95.0.4638.69)
Stacktrace:
Backtrace:
	Ordinal0 [0x009206F3+2492147]
	Ordinal0 [0x008B9BD1+2071505]
	Ordinal0 [0x007C2478+1057912]
	Ordinal0 [0x007EC964+1231204]
	Ordinal0 [0x00816B62+1403746]
	Ordinal0 [0x008057FA+1333242]
	Ordinal0 [0x00814F38+1396536]
	Ordinal0 [0x0080568B+1332875]
	Ordinal0 [0x007E21D4+1188308]
	Ordinal0 [0x007E302F+1191983]
	GetHandleVerifier [0x00AA67A6+1545030]
	GetHandleVerifier [0x00B5105C+2243580]
	GetHandleVerifier [0x009ABC97+518199]
	GetHandleVerifier [0x009AAD80+514336]
	Ordinal0 [0x008BED2D+2092333]
	Ordinal0 [0x008C2EE8+2109160]
	Ordinal0 [0x008C3022+2109474]
	Ordinal0 [0x008CCB71+2149233]
	BaseThreadInitThunk [0x75D6FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77E77A7E+286]
	RtlGetAppContainerNamedObjectPath [0x77E77A4E+238]

In [20]:
product_urls = []
start=0
end=1
for page in range(start,end):#for loop for scrapping 1 page
    url=driver.find_elements_by_xpath('//div[@class="col-4"]//a')       #scraping urls
    for i in url:
        product_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
    #nxt_button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")     #scraping the list of buttons from the page
    #nxt_button.click()
    #time.sleep(2)

In [21]:
product_urls

[]

In [24]:
#Opening the url
url='https://www.cars24.com/'
driver.get(url)

In [26]:
search_car = driver.find_element_by_xpath('//div[@class="_6QaMX"]')
search_car

In [27]:
product_urls = []
start=0
end=1
for page in range(start,end):#for loop for scrapping 1 page
    url=driver.find_elements_by_xpath('//div[@class="col-4"]//a')       #scraping urls
    for i in url:
        product_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
    #nxt_button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")     #scraping the list of buttons from the page
    #nxt_button.click()
    #time.sleep(2)

In [28]:
product_urls

[]